﻿@using St.Web.Models
@using Kendo.Mvc.UI;
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageLevelStyles
{
    @Styles.Render("~/Content/kendo/styles")
}
@section PageLevelScripts
 {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/bundles/kendo/js")
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/app/app.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/multiselect-master/js/multiselect.min.js")"></script>
    <script src="@Url.Content("~/Scripts/app/custom.js")"></script>
    <script src="@Url.Content("~/Scripts/app/employee.js")"></script>
    <script type="text/javascript">
        function getActionsInfo(item) {
            return [
                "<a class='edit-Employee edit-icon' data-id='" + item.Id + "' href='/Employee/EditEmployee/" + item.Id + "'> <i class='fa fa-pencil' aria-hidden='true'></i></a>" +
                "<a class='del-Employee delete-icon' data-id='" + item.Id + "' href='#modal-del-employee'> <i class='fa fa-trash-o' aria-hidden='true''></i></a>"
            ].join('');
        }
    </script>
}

@Html.Partial("ConfirmModal", new ModalViewModel
{
    Id = "modal-del-employee",
    IsAlertModel = false,
    Title = "Delete Employee",
    Message = "Are you sure you want to delete the employee?",
    HiddenElementId = "hdnId",
})



<!--BEGIN CONTENT-->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Employees</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            Employees Management <a href="#modal-add-employee-form" data-toggle="modal" class="btn btn-info btn-rounded btn-outline pull-right"><i class="fa fa-plus"></i> &nbsp; Add Employee</a>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->

        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit">
                            <div class="portlet-body no-padding">
                                <div class="ibox-content">

                                    @(Html.Kendo().Grid<EmployeeModel>()
                                  .Name("EmployeeGrid")
                                  .Reorderable(x => x.Columns(true))
                                  //.HtmlAttributes(new { style = "height:auto;" })
                                  .Pageable(page => page
                                      .Info(true)
                                      .ButtonCount(5)
                                      .Messages(message => message
                                          .Empty("No data")
                                          .Next("Next")
                                          .Previous("Previous")
                                          .First("First")
                                          .Last("Last")
                                      )
                                  )
                                  .Filterable()
                                  .Sortable()
                                  .Columns(columns =>
                                  {
                                  columns.Bound(o => o.Id).Title("<b> Id </b>").Visible(false);
                                  columns.Bound(o => o.Name).Title("<b> Name </b>");
                                  columns.Bound(o => o.Address).Title("<b> Address </b>");
                                  columns.Bound(o => o.DOB).Title("<b> DOB </b>");
                                  columns.Bound(o => o.IsActive).Title("<b> IsActive </b>");
                                  columns.Template(@<text></text>).Title("<b> Actions </b>")
                                          .ClientTemplate("#= getActionsInfo.apply(this, arguments) #");
                                  })
                                  .Events(events => events.DataBound("Supreme.Util.ConnectKendoGrids"))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(10)
                                      .Model(model => model.Id(p => p.Id))
                                       .Read(read => read.Action("EmployeeList", "Employee"))
                                  )
                                  .Scrollable()
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row" id="divCustomerDetails">
                </div>*@
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
            <!-- END SAMPLE TABLE PORTLET-->
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <!-- END SAMPLE TABLE PORTLET-->
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <!-- END SAMPLE TABLE PORTLET-->
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>

</div>
<!-- END CONTENT -->
<!-- END CONTENT -->


@Html.Partial("SaveEmployee", new EmployeeModel())

<script type="text/javascript">
    $(function () {
        $('#EmployeeGrid').data('kendoGrid');
    })
</script>


