﻿@using St.Web.Models
@model EmployeeModel

<div id="modal-add-employee-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <form id="saveEmployeeForm" action="@Url.Action("SaveEmployee","Employee")" class="form-horizontal" method="POST" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-employee-form-title">Create New Employee</h4>
                    <small class="font-bold"></small>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.HiddenFor(x => x.Id)
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">Name<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Address<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">DOB<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.DOB, new { @class = "form-control small", type = "email" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Address<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control small", })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 text-left">IsActive</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-style">
                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control small" })
                                        <span class="check"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnSaveEmployee" type="submit" class="btn btn-warning btn-info">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

