/* here you can put your own css to customize and override the theme */
.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 16px;
}


.page-header .page-header-top .page-logo .logo-default {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10.5px !important;
}

.mt-element-overlay .mt-overlay-1 .mt-info li p {
    padding: 0px !important;
    margin: 0px !important;
}

.page-content .page-breadcrumb.breadcrumb li h1 {
    text-align: center !important;
    color: #0f608c;
}

.breadcrumb h1{text-align:center; border:2px solid #0071af;}


.text-img {
    background-color: #0071af;
}

.mt-overlay-1 {
    margin-bottom: 18px;
}

.text-img p {
    color: rgb(255, 255, 255);
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.portlet.light.portlet-fit .portlet-body {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}

.middle {
    margin-bottom: 15px;
}

.qote_bg {
    background-color: #ebece6;
    border: 1px solid #ebece6;
}

.page-content {
    background-color: #FFF;
}

.page-content-inner ul {
    list-style: none;
}


    .page-content-inner ul li {
        display: inline-block;
        
    }

.qote_bg {
    padding-bottom: 22px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 22px;
}

.about-quote {
    padding-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0;
}

.brands ul{text-align:center;}

.brands ul.home-logos.desktop-and-tablet li {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.cat-product-info-wrap {
    background-color: rgb(245, 245, 245);
    min-height: 86px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom:20px;
}

.product-grid .attribute-tout h4 {
    color: rgb(62, 63, 63) !important;
    font-size: 0.92308em;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.16667em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.cat-product-info-wrap span {
    font-size: 13px;
}


.caption span{color:rgb(0, 113, 175)}

.text-xenter h1{text-align:center; color:#0071af; font-weight:normal; margin-bottom:25px;}


.product_bg{background-color:rgb(235, 236, 230);}


.middle{margin-top:15px;}


.portlet.light.portlet-fit{background-color:transparent; border:1px solid rgb(235, 236, 230);}

.about-quote h3{
    line-height:normal; font-size:18px;
}


.brands{margin-top:30px;}












/*-------------------PRODUCT PAGE-----------------*/


.sidebar .side-menu .head {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: rgb(255, 255, 255);
    font-family: "FjallaOneRegular";
    font-size: 18px;
     padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 10px;
    padding-top: 5px;
    text-transform: uppercase;
}


.sidebar .side-menu .head .icon {
    margin-right: 20px;
}



.sidebar .side-menu nav .nav > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(247, 247, 247);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(232, 232, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(235, 235, 235);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(235, 235, 235);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
}


.sidebar .side-menu nav .nav > li > a {
    color: rgb(102, 102, 102);
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
    text-transform: uppercase;
}


.sidebar .side-menu nav .nav > li > a::after {
    color: rgb(186, 186, 186);
    content: "";
    float: right;
    font-family: FontAwesome;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    width: 20px;
}


.sidebar .side-menu nav .nav > li > .mega-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 330%;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    position: absolute;
    top: 0 !important;
}

.sidebar .side-menu nav .nav > li > .mega-menu .yamm-content {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.yamm .dropdown-menu li {
    line-height: 26px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}